.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 25px;
  width: 95%;

  input {
    width: 100%;
    height: 45px;
    padding: 10px 5px;
    float: left;
    font-family: -webkit-body;
    font-size: 20px;
    color: gray;

  }

  input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }

  input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 45px;
    width: 72px;
    font-size: 16px;
    font-family: -webkit-body;
    color: white;
    text-transform: uppercase;
    background: black;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  }

  button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent black transparent;
    top: 12px;
    left: -6px;
  }

}
